@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/*creation de variables */
:root {
    --primary-color: #618264;
    --list-color: black;
    --bordures:1.25rem;
    --marge-superieur-section:2.5rem;
    --margin-left-bloc:1.5rem;
    --margin-right-bloc:4rem;
}

body {
    overflow-x: hidden; /*permet de faire disparaitre la barre de defilement horizontale*/
    box-sizing: border-box;
}

.bloc_principale {
    display: flex;
    flex-direction: column;
    background-color: rgb(188, 162, 204);
    width: 100vw;
}

/*Entete de la page*/
.entete {
    display: flex;
    justify-content: space-between;
    margin-left: var(--margin-left-bloc);
    margin-right: var(--margin-right-bloc);
    background-color: yellow;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-size: 1.25rem;
}
nav li {
    margin-right:1.875rem;
    color:var(--list-color);
}

a{
    text-decoration: none;
    color:black;
}

.active {
    color: var(--primary-color);
    border-bottom: 0.125rem solid var(--primary-color);
}

button {
    background-color: var(--primary-color);
    color: white;
    width: 9.3rem;
    height: 3.12rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
} 

/*section une de la page*/
.sectionUne {
    display: flex;
    justify-content: space-between;
    margin-right: var(--margin-right-bloc);
    margin-left: var(--margin-left-bloc);
    width: 100%;
    height: 39.375rem;
    padding-right: 0.625rem;
    margin-top: var(--marge-superieur-section);
    background-color: rgb(128, 197, 165);
} 
.imageNganou {
    display: flex;
    align-items: flex-end;
    background-image:linear-gradient(to top,#000000,#12111133), url(images/Francis-Ngannou-domine-Ciryl-Gane.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: var(--bordures);
    width: 52.75rem;
    height: 38.875rem;
    margin-right: auto;
}
.titreNganou {
    border-left: 15px solid var(--primary-color);
    padding-left: 15px;
    margin: 20px;
    font-size: 40px;
    color: white;
    font-family:IBM Plex Sans Hebrew;
}
.actu {
    font-size: 14px;
    font-family:IBM Plex Sans Hebrew;
    line-height: 26px;
}
.infosComplementaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: auto;
    background-color: red;
}
.titreAside {
    border-left: 8px solid var(--primary-color);
    text-transform:uppercase;
    font-size: 20px;
    line-height: 26px;
    font-family:IBM Plex Sans Hebrew;
    padding-left: 10px;
    margin-top: 1px;
    margin-left: 10px;
}
.aside{
    display: flex;
    justify-content: space-between;
    height: 300px;
}
.aside img {
    border-radius: var(--bordures);
    margin-right: 15px;
    width: 180px;
    height: 170px;
    padding: 10px;
}
.aisde .text span{
    width: 120px;
    height: 40px;
}
p {
    margin-right: 100px;
}
h2{
    font-size: 20px;
}

/*section deux de la page*/
.sectionDeux {
    display: flex;
    justify-content: space-between;
    margin-right: var(--margin-right-bloc);
    margin-left: var(--margin-left-bloc);
    margin-top: var(--marge-superieur-section);
    background-color: rgb(137, 137, 219);
}
.sectionDeux .unesco .unescoImg img{
    border-radius: var(--bordures);
    width: 300px;
    height: 300px;
}
.sectionDeux .franckBiya .franckBiyaImg img{
    border-radius: var(--bordures);
    width: 300px;
    height: 300px;
}
.sectionDeux .aboubakar .aboubakarImg img{
    border-radius: var(--bordures);
    width: 300px;
    height: 300px;
}
.titreUnesco1{
    font-family: inter;
    font-size: 12px;
    font-style: italic;
    color: var(--primary-color);
}
.titreUnesco2{
    font-family: IBM Plex Sans Hebrew;
    font-size: 24px;
}  

 /*section trois de la page*/
.sectionTrois {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--marge-superieur-section);
}
.sectionTrois .martinezImg img {
    width: 56.25rem;
    height: 31.25rem;
    border-radius: var(--bordures);
}
.sectionTrois .actualites {
    font: size 3rem;
    font-family:IBM Plex Sans Hebrew;
    margin-bottom: 2.5rem;
}    

